<% 
=begin %>
<p id="notice"><%= notice</p> %>
  <h1>Characters</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>X coordinate</th>
        <th>Y coordinate</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @characters.each do |character| %>
        <tr>
          <td><%= character.name %></td>
          <td><%= character.x_coordinate %></td>
          <td><%= character.y_coordinate %></td>
          <td><%= link_to 'Show', character %></td>
          <td><%= link_to 'Edit', edit_character_path(character) %></td>
          <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Character', new_character_path %>
  <p id="notice"><%= notice %></p>
  <% 
=end %>
  <p>loadDate</p>
  <div id='loadDate' ></div>
  <p>attemptDurationReceived</p>
  <div id='attemptDurationReceived' ><%= @attemptDurationReceived %></div>
  <%# <button id='timerButton' ></button> %>
  <div id='contentDiv' ></div>
  <p id='result'><%= @result %></p>
  <p id='x1'><%= @x1 %></p>
  <p id='y1'><%= @y1 %></p>
  <div id='targetBox' class='dropdown-content'></div>
  <%# <div id='' class='dropdown-content'></div> %>
  <form action="/curl_example" class='dropdown-content' id ='dropDownId' method="GET">
    <%# <input type="button" name="my_data" value='Waldo'> %>
    <input type="hidden" name="coordinates" id="clickCoordinatesId"/>
    <input type="hidden" name="pageX" id="pageX"/>
    <input type="hidden" name="pageY" id="pageY"/>
    <input type="hidden" name="attemptDuration" id="attemptDuration"/>
    <input type="hidden" name="clickDate" id="clickDate"/>
    <input type=submit  name="my_data" value='Waldo'>
    <input type=submit  name="my_data" value='Tilly'>
    <input type=submit  name="my_data" value='Alex'>
  </form>
  <%# 
 <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div> 


<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
} 
</script> %>
  <%# <select id = 'search'>
<option value="1"></option>
<option value="2">Electrician</option>
<option value="3">Plumber</option>
<option value="4">Tiler</option>
<option value="5">Boiler Installation</option>

</select> %>
