<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>X coordinate:</strong>
  <%= @character.x_coordinate %>
</p>

<p>
  <strong>Y coordinate:</strong>
  <%= @character.y_coordinate %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
